body {
  text-align: center;
}

#ui {
  display: none;
  position: fixed; /* Position relative to the viewport */
  bottom: 40%; /* Move it down by 40% */
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally */
  height: 125px;
  width: 200px;
  border: 2px solid #2ecc71; /* Light green border */
  background-color: #1f1f1fb5;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 20px #2ecc71; /* Glowing effect */
  padding: 20px;
}

#ui h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

#claimButton {
  position: absolute; /* Position the button absolutely */
  bottom: 10%; /* Align the button to the top of the UI container */
  right: 50%; /* Align the button to the right of the UI container */
  transform: translateX(50%); /* Center the button horizontally */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71; /* Light green button background */
  border: none;
  color: #006400; /* Dark green button text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px #2ecc71; /* Glowing effect */
}

#exitButton {
  position: absolute; /* Position the button relative to its containing block */
  top: 5px; /* 5 pixels from the top */
  right: 5px; /* 5 pixels from the right */
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #2ecc71; /* Light green button background */
  border: none;
  color: #006400; /* Dark green button text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px #2ecc71; /* Glowing effect */
}


#claimButton:hover {
  background-color: #32aa64; /* Lighter green on hover */
}

#exitButton:hover {
  background-color: #32aa64; /* Lighter green on hover */
}